header {
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424a;
    font-weight: 900;
    background-color: #38cfd9;
    padding: 0.75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: 0.75;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}

header {
    background: #242425;
    padding: 1em 0;
    text-align: center;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072a2d;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: 0.75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: "";
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.logo {
    height: 40px;

    img {
        height: 30px;


    }
}





.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav__list+.nav__list {
    margin-top: 2em;
}

.nav__item {
    margin-bottom: 1em;
}

.nav__list--primary :first-child {
    margin-top: 1em;
}

.nav__link--button {
    background-color: #38cfd9;
    padding: 0.3em 0.7em;
    border-radius: 100px;
}

@media (min-width: 800px) {
    .nav-toggle {
        display: none;
    }

    .nav {
        position: relative;
        visibility: visible;
        display: flex;
        height: auto;


        justify-content: flex-end;
    }

    .nav__list {
        /* margin-left: auto; */
        display: flex;
        gap: 1.5em;
    }

    .nav__list--primary {
        margin: 0 auto;
    }

    .nav__list+.nav__list {
        margin-top: 0;
    }

    .nav__item {
        margin-bottom: 0;
    }

    .nav__list--primary :first-child {
        margin-top: 0;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__text {
        width: 62%;
    }

    .hero__img {
        width: 32%;
        align-self: flex-start;
        margin: 0;
    }

    .primary-content {
        width: 62%;
    }

    .sidebar {
        width: 32%;
    }
}